apiVersion: v1
kind: Secret
metadata:
  name: {{ include "udps.fullname" . }}-secret
  namespace: {{ include "udps.namespace" . }}
  labels:
    {{- include "udps.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.secrets.database.username }}
  DATABASE_USERNAME: {{ .Values.secrets.database.username | quote }}
  {{- else }}
  {{- fail "secrets.database.username is required. Set via --set secrets.database.username=<value>" }}
  {{- end }}
  {{- if .Values.secrets.database.password }}
  DATABASE_PASSWORD: {{ .Values.secrets.database.password | quote }}
  {{- else }}
  {{- fail "secrets.database.password is required. Set via --set secrets.database.password=<value>" }}
  {{- end }}
  {{- if .Values.secrets.redis.password }}
  REDIS_PASSWORD: {{ .Values.secrets.redis.password | quote }}
  {{- else }}
  {{- fail "secrets.redis.password is required. Set via --set secrets.redis.password=<value>" }}
  {{- end }}
  {{- if .Values.secrets.kafka.username }}
  KAFKA_USERNAME: {{ .Values.secrets.kafka.username | quote }}
  {{- else }}
  {{- fail "secrets.kafka.username is required. Set via --set secrets.kafka.username=<value>" }}
  {{- end }}
  {{- if .Values.secrets.kafka.password }}
  KAFKA_PASSWORD: {{ .Values.secrets.kafka.password | quote }}
  {{- else }}
  {{- fail "secrets.kafka.password is required. Set via --set secrets.kafka.password=<value>" }}
  {{- end }}
  {{- if .Values.secrets.minio.accessKey }}
  MINIO_ACCESS_KEY: {{ .Values.secrets.minio.accessKey | quote }}
  {{- else }}
  {{- fail "secrets.minio.accessKey is required. Set via --set secrets.minio.accessKey=<value>" }}
  {{- end }}
  {{- if .Values.secrets.minio.secretKey }}
  MINIO_SECRET_KEY: {{ .Values.secrets.minio.secretKey | quote }}
  {{- else }}
  {{- fail "secrets.minio.secretKey is required. Set via --set secrets.minio.secretKey=<value>" }}
  {{- end }}
